@include mediaXl {
}

@include mediaLg {
}

@include mediaMd {
  main {
    align-items: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .about-info {
    grid-template-areas:
      "logo"
      "about"
      "item1"
      "item2"
      "item3";
    grid-template-columns: 1fr;
  }

  .about-image {
    margin-top: 0;
  }

  .beer-info {
    margin-top: 2rem;
    grid-template-areas:
      "overview"
      "slot1"
      "slot2"
      "slot3"
      "slot4"
      "slot5"
      "slot6";
    grid-template-columns: 1fr;
  }

  .overview {
    font-size: 1.25rem;
  }

  .beer {
    text-align: center;
  }

  .icons {
    text-align: center;
  }
}

@include mediaSm {
  main#home h1 {
    font-size: 4rem;
  }
  .menu {
    .menu-branding {
      width: 25%;
      visibility: hidden;
    }
    .menu-nav {
      width: 75%;
    }
  }
}
